html {
  scroll-behavior: smooth;
  cursor: pointer;
}

body {
  background-color: #343330;
}

.navbar-brand {
  color: #d7bc24 !important;
}

.navbar {
  box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.2) !important;
  z-index: 1000 !important;
}



.logoImg {
  height: 50%;
  background-color: #343330;
  border-radius: 50%;
  /* margin-top: 10%; */
  /* left: 50%; */
  animation: float 3s linear infinite;
  transition: transform 2s, background-color 3s;
  opacity: 0.7;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(-3rem);
  }

  50% {
    transform: translateY(1rem);
  }
}

.logoImg:hover {
  transform: rotate(360deg);
  background-color: #fffcf5;
  opacity: 0.7;
}

.nav-link:hover {
  color: #d7bc24 !important;
}

.carousel-caption {
  height: 70%;
}

span {
  color: #d7bc24;
}

.box {
  /* flex:1 1 30rem; */
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  /* border:.1rem solid rgba(0,0,0,.3); */
  cursor: pointer;
  border-radius: .5rem;
}

.box .content {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  position: absolute;
  top: -100%;
  left: 0;
  /* padding: auto; */
  /* margin: auto; */
}

.box .content {
  text-align: center;
  background: #fff;
  opacity: 0.8;
  /* padding:2rem; */
}

.box .content p,
h3 {
  font-size: 1.6rem;
  color: #343330;
  padding: 1rem 0;
}

.box:hover .content {
  top: 0;
}

.box:hover img {
  transform: translateY(100%);
}

::placeholder {
  color: rgb(255, 255, 255, 0.7);
  /* color: #000000; */
}

input,
textarea {
  /* border: 1px solid #fff; */
  border: 2px solid #d9e2ef;

}

@media screen and (min-width: 768px) {
  .carousel-item {
    height: 80vh;
    /* size: 100%; */
  }

  form {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .logoImg {
    display: none;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }
}