html{
    scroll-behavior: smooth;
}

body {
  background-color: #343330;
}

.navbar-brand{
    color: #d7bc24!important;
}

.logoImg {
  height: 30%;
  background-color: #343330;
  border-radius: 50%;
  margin-top: 10%;
  /* left: 50%; */
  transition: transform 2s, background-color 3s;
  opacity: 0.7;
}

.logoImg:hover {
  transform: rotate(360deg);
  background-color: #fffcf5;
  opacity: 0.7;
}

.carousel-caption {
  height: 70%;
}

span {
  color: #d7bc24;
}

::placeholder {
    color: #fff;
}

input,
textarea {
    border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  .carousel-item {
    height: 80vh;
    size: 100%;
  }
}
