span {
    color: #d7bc24;
}

.navbar-brand {
    color: #d7bc24 !important;
}

.nav-link:hover {
    color: #d7bc24 !important;
}

/* #yourCart {
    display: none;
} */


/* .allOrders {
    display: none;
} */

/* Import from checkout.css */
.navbar-brand {
    color: #d7bc24 !important;
}

.nav-link:hover {
    color: #d7bc24 !important;
}

#delivery-location,
#totalPayment,
#totalAmount,
.allOrders,
#yourCart,
.itemsDelivered {
    display: none;
}