body{
    font-family: 'Lato', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

span {
    color: #d7bc24;
}

.navbar-brand {
    color: #d7bc24 !important;
}

.nav-link:hover {
    color: #d7bc24 !important;
}

/* Import from checkout.css */
.navbar-brand {
    color: #d7bc24 !important;
}

.nav-link:hover {
    color: #d7bc24 !important;
}

#delivery-location,
#totalPayment,
#totalAmount,
.allOrders,
#yourCart,
.itemsDelivered,
.itemsPicked  {
    display: none;
}